
* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
    
}

/* Header */
header{
    width: 80%;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    float: inline-start;
    margin: 10px;
}
.navbar {
    background-color: white;
    border-radius: 4px;

}

.navbar ul {
    overflow: auto;
    
}

.navbar li {
    float: right;
    list-style: none;
    margin: 15px 30px;

}

.navbar a {
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.navbar li a:hover {
    background-color: rgb(158, 241, 137);
}

.navbar input {
    border: 2px solid black;
    border-radius: 8px;

}
.top-right{
    float: right;
}
/* header end */


/* Contact Form */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}

/* Contact Info */
.contact-info {
    background: #000;
    color: #fff;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-info div {
    margin-bottom: 15px;
}

.contact-info a {
    text-decoration: none;
    color: #fff;
}

/* Contact Form */
.contact-form {
    padding: 30px;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form label {
    font-size: 14px;
    font-weight: bold;
}

.contact-form .subject {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.contact-form button {
    background: black;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button:hover {
    background: #444;
}
 
/* contact from end */
